[submodule "pack/plugins/start/bufexplorer"]
	path = pack/plugins/start/bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer
[submodule "pack/plugins/start/ctrlp.vim"]
	path = pack/plugins/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "pack/plugins/start/disassemble"]
	path = pack/plugins/start/disassemble
	url = https://github.com/yegappan/disassemble
[submodule "pack/plugins/start/grep"]
	path = pack/plugins/start/grep
	url = https://github.com/yegappan/grep
[submodule "pack/plugins/start/rust.vim"]
	path = pack/plugins/start/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule "pack/plugins/start/syntastic"]
	path = pack/plugins/start/syntastic
	url = https://github.com/vim-syntastic/syntastic
[submodule "pack/plugins/start/tagbar"]
	path = pack/plugins/start/tagbar
	url = https://github.com/preservim/tagbar
[submodule "pack/plugins/start/taglist"]
	path = pack/plugins/start/taglist
	url = https://github.com/yegappan/taglist
[submodule "pack/plugins/start/vim-commentary"]
	path = pack/plugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "pack/plugins/start/vim-dispatch"]
	path = pack/plugins/start/vim-dispatch
	url = https://github.com/tpope/vim-dispatch
[submodule "pack/plugins/start/vim-easy-align"]
	path = pack/plugins/start/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align
[submodule "pack/plugins/start/vim-easytags"]
	path = pack/plugins/start/vim-easytags
	url = https://github.com/xolox/vim-easytags
[submodule "pack/plugins/start/vim-eunuch"]
	path = pack/plugins/start/vim-eunuch
	url = https://github.com/tpope/vim-eunuch
[submodule "pack/plugins/start/vim-fugitive"]
	path = pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/plugins/start/vim-jdaddy"]
	path = pack/plugins/start/vim-jdaddy
	url = https://github.com/tpope/vim-jdaddy
[submodule "pack/plugins/start/vim-misc"]
	path = pack/plugins/start/vim-misc
	url = https://github.com/xolox/vim-misc
[submodule "pack/plugins/start/vim-notes"]
	path = pack/plugins/start/vim-notes
	url = https://github.com/xolox/vim-notes
[submodule "pack/plugins/start/vim-repeat"]
	path = pack/plugins/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "pack/plugins/start/vim-sensible"]
	path = pack/plugins/start/vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule "pack/plugins/start/vim-surround"]
	path = pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "pack/plugins/start/vim-tbone"]
	path = pack/plugins/start/vim-tbone
	url = https://github.com/tpope/vim-tbone
[submodule "pack/plugins/start/vim-unimpaired"]
	path = pack/plugins/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "pack/plugins/start/vim-vinegar"]
	path = pack/plugins/start/vim-vinegar
	url = https://github.com/tpope/vim-vinegar
[submodule "pack/plugins/start/STL-Syntax"]
	path = pack/plugins/start/STL-Syntax
	url = https://github.com/Mizuchi/STL-Syntax
[submodule "pack/plugins/start/vim-cpp-modern"]
	path = pack/plugins/start/vim-cpp-modern
	url = https://github.com/bfrg/vim-cpp-modern
[submodule "pack/plugins/start/haskell-vim"]
	path = pack/plugins/start/haskell-vim
	url = https://github.com/neovimhaskell/haskell-vim
[submodule "pack/plugins/start/python-syntax"]
	path = pack/plugins/start/python-syntax
	url = https://github.com/vim-python/python-syntax
[submodule "pack/plugins/start/vim-scala"]
	path = pack/plugins/start/vim-scala
	url = https://github.com/derekwyatt/vim-scala
[submodule "pack/plugins/start/codeql.nvim"]
	path = pack/plugins/start/codeql.nvim
	url = https://github.com/pwntester/codeql.nvim
[submodule "pack/plugins/start/graphviz.vim"]
	path = pack/plugins/start/graphviz.vim
	url = https://github.com/liuchengxu/graphviz.vim
